@import "../../node_modules/bootstrap/scss/bootstrap";

.purple {
  background-color: $purple;   
}

.white {
  color: white;
}

.white-svg {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(328deg) brightness(111%) contrast(101%);
}

/* same height for product images in card */
.card-img-top {
  height: 13rem;
  object-fit: cover; 
}

.confirm-img {
	max-width: 500px; 
	width: 100%;
}


/****************** load spinner ******************/ 

.loader-page {
	content: "";
	display: block;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: white;
	z-index: 9;
	animation: loader-page 0.6s both cubic-bezier(0, 0.25, 0, 0.96);

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		height: 7vh;
		width: 7vh;
		border: 5px solid rgba(255,255,255,.3);
		border-radius: 50%;
		border-top-color: $purple;
		animation: load-spinner 0.4s infinite cubic-bezier(0.23, 0.57, 0.79, 0.19) both;
	}
}

// loader page animation //
@keyframes loader-page {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	80% {
		opacity: 0.92;
	}
	99% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-200vh);
		opacity: 1;
	}
}

@keyframes load-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
